---
import Benefits from "@/components/Benefits.astro";
import FeatureSection1 from "@/components/FeatureSection1.astro";
import FeatureSection2 from "@/components/FeatureSection2.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Pricing from "@/components/Pricing.astro";
import SocialProof from "@/components/SocialProof.astro";
import Testimonials from "@/components/Testimonials.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<Header />
	<main>
		<Hero />
		<SocialProof />
		<FeatureSection1 />
		<FeatureSection2 />
		<Benefits />
		<Pricing />
		<!-- <Testimonials /> -->
	</main>

	<Footer />
</Layout>
